*{
    margin: 0;
    padding: 0;

}
body{
    background-color:#eee;


}
h2{
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-bottom: 3%;
}
nav{
    background-color: #2aa2e8;
    height: 50px;
    width: 100%;
    position: fixed;
    border-radius: 0px 0px 30px 30px;  
}
.heading img{
    margin-left: 2%;
    float: left;
}
form{
    float: right;
   margin-right: 35%;
}
form input[type=search]{
    width: 450px;
    height: 30px;
    border-radius: 13px;
}
form button{
    width: 110px;
    height: 30px;
    background-color: rgb(0, 94, 255);
    border-radius: 10px;
    color: white;
font-size: large;
border: none;
}
.input-field{
    width: 50%;
    outline: 0;
    border: 0;
    border-bottom: 2px solid #0c2bda;
    padding: 10px 0;
    background: transparent;
    font-size: 1em;
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/******************************************************/
.container{
    margin-top: 3%;
display: grid;
grid-template-columns: 2fr 1fr;
gap: 15px;
align-items: flex-start;
padding: 5px 5%;
}
.container .active_video video{
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
}
.container .active_video .video{
    background-color: white;
    border-radius: 5px;
}
.container .active_video h4{
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: larger;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.container .list_of_videos .vide video{
    width: 50%;
    border-radius: 5px;
}
.container .list_of_videos::-webkit-scrollbar{
    width: 7px;
}
.container .list_of_videos::-webkit-scrollbar-track{
    background-color: #ccc;
    border-radius: 20px;
}
.container .list_of_videos::-webkit-scrollbar-thumb{
    background-color: #f7f7f7;
    border-radius: 50px;
}
.container .list_of_videos{
    background-color: #fff;
    overflow-y: scroll;
    height: 600px;
}
.container .list_of_videos .vide{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #f7f7f7;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
}
.container .list_of_videos .vide:hover{
    background-color: rgb(214, 232, 226);
}
.container .list_of_videos .vide.active{
    background-color: rgb(61, 111, 228);
    color: white;
}
/*************************responsiviness media queries***********************************/
@media (max-width:1021px){
    .container{
        grid-template-columns: 1.5fr 1fr;
        padding: 10px;

    }
    .container .active_video video{
        width: 90%;
        margin-left: 5%;
        border-radius: 5px;
        margin-top: 2%;
    }
    form{
        float: right;
       margin-right: 5%;
    }
    form input[type=search]{
        width: 400px;
        height: 30px;
        border-radius: 13px;
    }
    form button{
        width: 80px;
        height: 20px;
        background-color: blue;
        border-radius: 10px;
        color: white;
    font-size: medium;
    }
}
@media (max-width:782px){
    .container{
        grid-template-columns:1fr;
        padding: 0px;

    }
    .container .active_video video{
        width: 90%;
        margin-left: 5%;
        border-radius: 5px;
        margin-top: 2%;
    }
    form{
        float: right;
       margin-right: 5%;
    }
    form input[type=search]{
        width: 100px;
        height: 20px;
        border-radius: 13px;
    }
    form button{
        width: 80px;
        height: 25px;
        background-color: blue;
        border-radius: 10px;
        color: white;
    font-size: medium;
    }
    h2{
        font-size: medium;
        margin-bottom: 7%;
    }
}
@media (max-width: 370px){
    .container{
        grid-template-columns:1fr;
        padding: 0px;
        width: 100%;
        
    }
    .container .active_video video{
        width: 90%;
        margin-left: 5%;
        border-radius: 5px;
        margin-top: 2%;
    }
    form{
        float: right;
       margin-right: 5%;
    }
    form input[type=search]{
        width: 100px;
        height: 20px;
        border-radius: 13px;
    }
    form button{
        width: 80px;
        height: 25px;
        background-color: blue;
        border-radius: 10px;
        color: white;
    font-size: medium;
    }
    h2{
        font-size: medium;
        margin-bottom: 7%;
    }
}
